**/*.scss
**/*.less
**/*.md
**/*.json
**/*.otf
**/*.ttf
**/*.png
**/*.webp
**/*.jpg
**/*.gif
**/*.css
**/*.scss
**/*.md
**/*.json
.gitignore
.eslintrc.js
package.json
package-lock.json
node_modules/*
src/dist/*
.idea/*
.git/*
